%h1
  Clubs
= form_tag(clubs_path, method: :get) do 
  Club
  = text_field_tag :club, params[:club]
  = submit_tag 'Search', name: nil
%ul
  - @clubs.each do |club|
    %li
      = link_to club.name, club_path(club.id)
      Club Type 
      = ClubType.find(club.club_type_id).name if club.club_type_id.present?
%p
  - if current_user.present?
    = link_to 'Create new club', new_club_path
  
