%h1
  = @club.name
  = "#{@club.club_type} club"
  = "Club owner #{@owner.email}"
  = link_to "Edit club", edit_club_path
  = link_to "Delete club", @club, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this club?' }